.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.copy-container {
  text-decoration: none;
  color: black;
}

.copy-container:hover {
  display: block;
  background-color: ghostwhite;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
